body {
    font-family: Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 50px;
    background-image: url("bg-image.jpg");
    background-size: cover;
  }

  h1 {
    color: #333;
  }

  select, input {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
  }

  #result {
    margin-top: 20px;
    font-weight: bold;
    color: #1e90ff;
  }
  .panel {

    max-width: 800px;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }